.mainrow {
  margin-top: 50px;
}

a.go-home {
  color:black;
  text-decoration: none;
}

.sidebar > .profile-pic {
  width: 200px;
  height: 266px;
}

.mt20 {
  margin-top: 20px;
}

.date {
  color: #b3b2b2;
  padding-left: 5px;
  font-size: 13px;
}

ul.posts {
  margin-left: 0px;
  list-style: none;
  padding-left: 0px;
}

/*.home-title {
  margin: 10px 0;
}*/

.sidebar .links {
  list-style: none;
  margin-left: 0px;
  padding-left: 0px;
}


.footer {
  border-top: 1px solid #ccc;
  padding-top: 8px;
  margin-top: 25px;
  margin-bottom:25px;
}

body {
  /* font-family: "Monaco", "DejaVu Sans Mono", "Lucida Console", "monospace"; */
/*  font-family: "Lucida grande", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
*/
  /*font-family: helvetica, arial, clean, sans-serif;*/
  font-family: "SF Pro Text", avenir next,avenir,sans-serif;
  font-size: 16px;
}

.sidebar {
  font-size: 13px;
}

.main-content {
  font-size: 18px;
}
